* {
    font-family: sans-serif;
}


.container_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgray;
    padding: 17px;
}

.div_logo {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    margin-left: 50px;
}

.listas {
    display: inline-block;
    padding: 6px;
}

#ipsum {
    background-color: white;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 10px;
}

.div_2 {
    background-color: black;
    height: 450px;
}

.imagen_div_2 {
    width: 100%;
    height: 450px;
}

.div_3 {
    display: flex;
    align-items: center;
    background-color: chartreuse;
    text-align: center;
}


#sub_div_detail_center {
    background-color: #d0d4dc;
}

.sub_div_detail {
    background-color: #e8e4e4;
    flex: auto;
}

.image {
    padding: 50px;
    width: 100%;
}

.imagen_icon {
    width: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 40%;
}

.div_hr {
    background-color: #607c94;
    height: 30px;
}

.div_4 {
    background-color: #bcbcc4;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
}

.sub_div_4 {
    background-color: white;
    padding: 150px;
    margin-left: 60px;
    border-radius: 2px;
}

.sub_div_div_1 {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    margin-right: 90px;
    justify-content: space-between;
}

.sub_div_div_2 {
    margin-top: 30px;
    background-color: #384c54;
    padding: 30px;
    margin-right: 300px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 80px;
}

.div_5 {
    background-color: white;
    height: 700px;
    display: flex;
}

.sub_div_10 {
    width: 500px;
    height: 500px;
    background-color: #e0dcdc;
    border-radius: 5px;

}

.sub_div_container_1 {
    margin: 100px;
}

.sub_div_container_2 {
    margin-top: 100px;
    margin-left: 200px;
    text-align: center;

}

#video_click {
    width: 20%;
    height: 20%;
    margin-top: 40%;

}

.cubo_lorem {
    width: 300px;
    height: 170px;
    background-color: #e0dcdc;
    margin-bottom: 20px;
    margin: 20px;
    border-radius: 5px;

}

.container_column {
    display: flex;
}

.hr_class {
    background-color: #384c54;
    height: 10px;
    text-align: left;
    align-items: flex-start;
    border-radius: 5px;
}

#hr_class_1 {
    width: 80%;
}

#hr_class_2,
#hr_class_4 {
    width: 60%;
}

#hr_class_3 {
    width: 70%;
}

.div_6 {
    background-color: #f8f4f4;
    height: 350px;
    display: flex;
}

.sub_footer_container_2 {
    display: flex;
    margin-left: 600px;
    margin-top: 70px;
    justify-content: space-between;
}

.bottom_1 {
    background-color: white;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.bottom_2 {
    background-color: #687c94;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    margin-left: 40px;
}

.footer_parraro_2 {
    margin: 30px;
}

.footer_logo_img {
    font-size: 27px;
    background-color: white;
    padding: 40px;
    border-radius: 50%;
    margin-left: 100px;
    justify-content: center;
    text-align: center;
}

.footer_hr {
    height: 10px;
    background-color: #384c54;
    width: 90%;

    margin-left: 100px;
}

footer {
    background-color: #e0dcdc;
    height: 30px;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}